<%- include('partials/header') -%>

<h1>Admins Only</h1>
<h4>You must know the password to access admin privileges, and create a new post.</h4>
<input type="password" name="adminPassword" placeholder="Enter Password">
<%- include('partials/footer') -%>
